body{
    background: linear-gradient(26deg,
    rgba(80, 111, 133, 1),
    rgba(207, 181, 140, 1),
    palegoldenrod,
    rgba(4, 17, 33, 0.8),
    rgba(207, 181, 140, 1));
    text-align: center;
    font-family: 'PT Serif', serif;
    text-decoration-color: ivory;

}

.title {
    color: black;
    font-size: 300%;
    font-weight: 540;
    font-style: italic;
}

.list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    text-align: start
}

.list-item {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: square;
    margin: 3%;
    padding: 1%;
    width: 70%;
}
p {
    color: ivory;
}

a {
    color: blue;
    display: inline;
}
a:hover {
    color: #050124;
}



img {
    alignment-baseline: center;
    align-content: center;
    align-items: center;
    border: 0.6vmax solid lightgoldenrodyellow;
    height: 40%;
    width: 40%;
    transition: 0.5s ease-in-out;
}
h3[class=description] {
    color: ivory;
}
img:hover {
border: 0.6vmax solid #050124;
}

.container {
    background: linear-gradient(to right ,rgba(222, 217, 213, 0.4),rgba(3, 1, 36, 0.5) , rgba(235, 229, 223, 1));
    color: ivory;
    font-size: 100%;
    text-align: left;
    padding: 1em;
    margin: 2%;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction:  column;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cont-item {
    width: 6%;
    height: 4vm;
    font-size: 100%;
    align-self: self-start;
    color: black;

}

.grid-container {
    display: grid;
    border: 0.4vh solid black;
    background: linen;
    grid-auto-flow: row;
    gap: 0.5vh;

    padding: 2%;
    margin: 2%;
    height: 25vh;
    width: 92%;

    justify-content: center;
    align-items: flex-start;
    transition: 0.5s ease-in-out 3s;

}

.container:hover {
    background: linear-gradient(to right, rgba(54, 5, 8, 1), rgba(23, 1, 2, 1));
    transition: 0.5s ease-in-out;
    -webkit-text-fill-color: ivory;
    width: 225%;

}


.grid-container2 {
    display: grid;
    grid-auto-flow: row;
    gap: 4.5vh;
    background: linen;
    border: 0.4vh solid black;

    padding: 2%;
    margin: 4%;
    height: 25vh;
    width: 92%;

    justify-content: center;
    -webkit-transition: all 0.5s ease-in-out 3s;
}

.grid-container2:hover {
    display: grid;
    grid-auto-flow: row;
    gap: 4.5vh;
    background: linen;
    border: 0.4vh solid black;

    padding: 2%;
    margin: 2%;
    height: 25vh;
    width: 92%;

    justify-content: center;
    transition: all 0.5s ease-in-out 3s;
}

.main-grid-container {
    display: grid;
    height: 140vh;
    padding: 2%;
    margin: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.cont-col {
    height: 86vh;
    width: 100%;
    justify-content: center;

}

.cont-col-item {
    border: 0.4vh solid black;
    height: 65vh;
    margin: 2vh;
    width: 90%;
    background: linen;

}


