body{
    background: linear-gradient(to top,
    rgba(80, 111, 133, 1),
    rgba(207, 181, 140, 1),
    rgba(4, 17, 33, 0.8),
    rgba(207, 181, 140, 1));

}

#1aa{
    color: rebeccapurple;

}

.title {
    color: rgb(19, 86, 117);
}

p {
    color: ivory;
}

a {
    color: ivory;
}

a:hover {
    color: #050124;
}

a:visited {
    color: navy;
}

thead {
    color: ivory;
}

tr {
    color: ivory;
}

table{
    border: 5px solid beige;
    background: linear-gradient(to right,darkgoldenrod, rgba(94, 110, 68, 1));

}
td{
    border: 3px solid beige;
}

img[src="src/resources/minuPilt.jpg"] {
    border: 5px solid lightgoldenrodyellow;
    height: 50%;
    width: 50%;
}

h3[class=description] {
    color: ivory;
}
img[src="src/resources/minuPilt.jpg"]:hover {
border: 5px solid #050124;

}


