body{
    background: rgba(207, 181, 140, 0.6);

}

#1aa{
    color: rebeccapurple;

}

.title {
    color: rgb(19, 86, 117);
}

p {
    color: ivory;
}

a {
    color: ivory;
}

a:hover {
    color: #050124;
}

a:visited {
    color: navy;
}

thead {
    color: ivory;
}

tr {
    color: ivory;
}

table{
    border: 5px solid beige;
    background: darkgoldenrod;

}
td{
    border: 3px solid beige;
}

img[src="src/resources/minuPilt.jpg"] {
    border: 5px solid lightgoldenrodyellow;
    height: 50%;
    width: 50%;
    background-repeat: repeat;
    background-size: contain ;

}

h3[class=description] {
    color: ivory;
}
img[src="src/resources/minuPilt.jpg"]:hover {
border: 5px solid #050124;

}


